<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="../css/style.css" rel="stylesheet">
	<title>DMT-meme</title>
</head>
<body>
<div id="designerVersusDeveloper">
	<div class="toggle_wrapper">
		<div class="sun_moon_container">
			<div class="sun"></div>
			<div class="moon"></div>
		</div>
		<div class="daytime_container">
			<div class="cloud_container_0">
				<div class="cloud"></div>
				<div class="cloud"></div>
				<div class="cloud"></div>
				<div class="cloud"></div>
				<div class="cloud"></div>
				<div class="cloud"></div>
				<div class="cloud"></div>
				<div class="cloud"></div>
			</div>
			<div class="cloud_container_1">
				<div class="cloud"></div>
				<div class="cloud"></div>
				<div class="cloud"></div>
				<div class="cloud"></div>
				<div class="cloud"></div>
				<div class="cloud"></div>
				<div class="cloud"></div>
				<div class="cloud"></div>
			</div>
			<div class="sky_gradient">
				<div class="gradient_circle"></div>
				<div class="gradient_circle"></div>
				<div class="gradient_circle"></div>
			</div>
		</div>
	</div>
</div>
<img src="../asset/스크린샷%202024-12-27%20오후%2011.43.10.png"/>
</body>
</html>
